﻿@page "/Vehiculos"
@using Microsoft.WindowsAzure.Storage;
@using Microsoft.WindowsAzure.Storage.Table;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;

<page-title class="text-center">
    Luxury Rent
</page-title>
<center><img src="/Imagen/agencias.jpg" width="300px" height="200px" /></center>
<h1 class="text-center font-weight-light">Vehiculos Disponibles</h1>


<table class="table border-dark" border="1">
    <thead>
        <tr>
            <td>Imagen</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Año</td>
            <td>Costo</td>
        </tr>
    </thead>

    <tbody class="vic">
        @foreach (Vehiculo c in listVehiculo)
        {
            <tr class=" per">
                <td><img src="@c.imagen" class="ime" /> </td>
                <td> @c.RowKey</td>
                <td> @c.modelo</td>
                <td> @c.año</td>
                <td> @c.costo</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Vehiculo> listVehiculo = new List<Vehiculo>();
    List<ElementosTable> elementosTables = new List<ElementosTable>();
    string elementoimagen;

    protected override async Task OnInitializedAsync()
    {
        var CuentaAlmacenamiento = CloudStorageAccount.Parse
        ("DefaultEndpointsProtocol=https;AccountName=perladatosclase;AccountKey=FMVvybG8c9DGFmM1Inbp8ntmZLowstEd2gWva+7YuWL0K4NaK6VJMqVXIHvcH6acuG8UDJPQ1Zwy0j7I76ZM7w==;EndpointSuffix=core.windows.net");
        var TablaNoSQL = CuentaAlmacenamiento.CreateCloudTableClient();
        var Tabla = TablaNoSQL.GetTableReference("Automovil");
        var Consulta = new TableQuery<Vehiculo>();
        TableContinuationToken token = null;
        try
        {
            var Datos = await Tabla.ExecuteQuerySegmentedAsync<Vehiculo>
                (Consulta, token, null, null);
            listVehiculo.AddRange(Datos.Results);
            int iVehiculo = 0;
            int iModelo = 0;
            int iAño = 0;
            int iCosto = 0;
            int iImagen = 0;
            elementosTables = listVehiculo.Select(r => new ElementosTable()
            {
                marca = listVehiculo.ElementAt(iVehiculo++).RowKey,
                modelo = listVehiculo.ElementAt(iModelo++).modelo,
                año = listVehiculo.ElementAt(iAño++).año,
                costo = listVehiculo.ElementAt(iCosto++).costo,
                imagen = listVehiculo.ElementAt(iImagen++).imagen
            }).ToList();

        }
        catch (Exception ex)
        { }

    }
    public class Vehiculo : TableEntity
    {
        public Vehiculo(string categoria, string marca)
        {
            PartitionKey = categoria;
            RowKey = marca;
        }
        public Vehiculo() { }
        public string modelo { get; set; }
        public int año { get; set; }
        public double costo { get; set; }
        public string imagen { get; set; }
    }
    public class ElementosTable
    {
        public string marca { get; set; }
        public string modelo { get; set; }
        public int año { get; set; }
        public double costo { get; set; }
        public string imagen { get; set; }

    }


}
