﻿@page "/Renta"
@using Microsoft.WindowsAzure.Storage;
@using Microsoft.WindowsAzure.Storage.Table;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;
<page-title class="text-center">
    Luxury Rent
</page-title>
<center><img src="/Imagen/agencias.jpg" width="300px" height="200px" /></center>
<h1 class="text-center font-weight-light">Listado de Clientes</h1>

<table class="table border border-dark bg-secondary " border="1" >
    <thead>
        <tr class="text-center font-weight-lighter ">
            <td>Imagen</td>
            <td>Cliente</td>
            <td>Auto</td>
            <td>Días</td>
            <td>Costo</td>
            <td>Total</td>
        </tr>
    </thead>
    
    <tbody  >
        @foreach (Agencia c in agencias)
        {
        <tr class="text-center font-weight-lighter ">
            <td ><img src="@c.imagen" class="ime" /> </td>
            <td> @c.RowKey</td>
            <td> @c.auto</td>
            <td> @c.dias</td>
            <td> @c.costo</td>
            <td> @c.total</td>
        </tr>
        }
    </tbody>
</table>

@code {
    List<Agencia> agencias = new List<Agencia>();
    List<ElementosTable> elementosTables = new List<ElementosTable>();
    string elementoimagen;

    protected override async Task OnInitializedAsync()
    {
        var CuentaAlmacenamiento = CloudStorageAccount.Parse
        ("");
        var TablaNoSQL = CuentaAlmacenamiento.CreateCloudTableClient();
        var Tabla = TablaNoSQL.GetTableReference("");
        var Consulta = new TableQuery<Agencia>();
        TableContinuationToken token = null;
        

        try
        {
            var Datos = await Tabla.ExecuteQuerySegmentedAsync<Agencia>
                (Consulta, token, null, null);
            agencias.AddRange(Datos.Results);
            int iCliente = 0;
            int iDias = 0;
            int iCosto = 0;
            int iImagen = 0;
            int iTotal = 0;
            int iAuto = 0;
            elementosTables = agencias.Select(r => new ElementosTable()
            {
                Cliente = agencias.ElementAt(iCliente++).RowKey,
                auto = agencias.ElementAt(iAuto++).auto,
                dias =agencias.ElementAt(iDias++).dias,
                costo=agencias.ElementAt(iCosto++).costo,
                total = agencias.ElementAt(iTotal++).total,
                imagen =agencias.ElementAt(iImagen++).imagen,
            }).ToList();


        }
        catch (Exception ex)
        {  }


    }
    public class Agencia:TableEntity
    {
        public Agencia (string categoria,string cliente)
        {
            PartitionKey = categoria;
            RowKey = cliente;
        }
        public Agencia() { }
        public string auto { get; set; }
        public int dias { get; set; }
        public double costo { get; set; }
        public double total { get; set; }
        public string imagen { get; set; }
    }
    public class ElementosTable
    {
        public string Cliente { get; set; }
        public string auto { get; set; }
        public int dias { get; set; }
        public double costo { get; set; }
        public double total { get; set; }
        public string imagen { get; set; }

    }


}
