﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Aplicación Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Renta" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> Autos Rentados
            </NavLink>
        </li>
        

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
